* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --fundo-principal: #f5f5f5;
    --texto: #000000;
    --fundo: #d4dfec;
    --primário: #7a73fc;
    --secundário: #dddbff;
    --accent: #443dff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
    transition: background-color 0.5s, color 0.5s;
}

header {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    background-color: var(--accent);
    color: var(--texto);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}